Source: quantispci-dkms
Section: misc
Priority: optional
Maintainer: Leif Johansson <leifj@sunet.se>
Build-Depends: debhelper (>= 7), dkms
Standards-Version: 3.8.1

Package: quantispci-dkms
Architecture: all
Depends: dkms (>= 1.95), ${misc:Depends}
Description: A DKMS format driver for the Quantis PCI quantum random number generator.
